@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary: #f5913e;
  --secondary: #e0e0e0;
  --bg-color: #858693;
  --bg-border: #9c9c9c;
  --text: black;
}

.container {
  /* background-color: var(--secondary) */
  color: var(--primary);
}

.calc {
  background-color: var(--secondary);
  width: 50%;
  margin: 5% auto;
}

.row-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row-group .result {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--bg-color);
  width: 100%;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.keys {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--bg-border);
  border-right: 1px solid var(--bg-border);
  padding: 1rem;
  color: var(--text);
  border-radius: 5px;
}

.keys:last-child {
  background-color: var(--primary);
  border-top: 1px solid var(--secondary);
  color: var(--text);
}

.keys:hover {
  opacity: 0.5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.zero {
  width: 50%;
}
